:root {
    --lavender: #4e3165;
    --purple: #722c5c;
    --red600: #ce1f45;
    --white: #ffffff;
    --shadow: #e7e7e7;
}

header ul{ /* Navbar início*/
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    box-shadow: 0px 8px 20px #1f1f1f;
}
header a{
    display: flex;
}
header h1{
    font-size: 1.7rem;
    color: #ce1f45;
    margin: 0;
    margin-left: 10px;
}
header h2{
    font-size: 1rem;
    color: #4e3165;
    margin: 0;
    margin-left: 10px;
}
.navbar-nav a{
    color: #4e3165;
    margin-right: 30px;
}
.navbar-nav a.ativo{
    color: #ce1f45;
}
.navbar-nav a:hover{
    color: var(--red600);
} 
section#titulohome{
    background: url(assets/background.2.jpeg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 80px);
    overflow: hidden;
}
.titulohome{
    color: white;
    text-align: center;
    margin-top: 40vh;
    font-size: 2.3rem;
} /* Navbar fim*/

#body{
    background-color: #4e3165;
}